<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="./static/home.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <title>Document</title>
</head>


<body>
    <div class="container">
       
        
        <h1>Expense Tracker</h1>
        <br>
        <br>
        <div>
          <form action="http://localhost:5000/list" class="flex-container" method="POST">
            <div class="inner">
                <p>Add Expense name</p>
                <input type="text" id="expense_name" name="exp_name" placeholder="Enter Expense Name">
            </div>
            <br>
            
            <div class="inner">
                <p>Add Expense</p>
                <input type="text" id="expense" name="exp" placeholder="Enter Expense">
            </div>
            <br>
            
            <div class="inner">
                <p>Date</p>
                <input type="datetime-local" id="date" name="dat" placeholder="Enter Date"><br><br>
            </div>
            
            <button type="submit">Submit</button>
          </form>
        </div>
    </div>
</body>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</html>