<!doctype html>
<html>
   <head>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
   </head>
   <body>
      <h1>History</h1>
      <table class="table table-striped">
         <thead>
            <td>Expense Name</td>
            <td>Expense</td>
            <td>Day</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{ row['expense_name'] }}</td>
               <td>{{ row['expense'] }}</td>
               <td> {{ row['day'] }}</td>
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a>
   </body>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</html>